<h1>Clientes</h1>
<ol class="breadcrumb mb-4 bg-color-padrao">
    <li class="breadcrumb-item active text-light">Consulta</li>
</ol>
<div class="container" class="p-6 mb-12">
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-warning" routerLink="/cliente/novo">Novo
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success" role="alert" *ngIf="mensagemSucesso">
                {{ mensagemSucesso }}
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="mensagemErro">
                {{ mensagemErro }}
            </div>
        </div>
    </div>

    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Data de Cadastro</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Observação</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clientes">
                <td>{{cliente.id}}</td>
                <td>{{cliente.dataCadastro}}</td>
                <td>{{cliente.nome}}</td>
                <td>{{cliente.cpf}}</td>
                <td>{{cliente.observacao}}</td>

                <td>
                    <button class="btn btn-success" routerLink="/cliente/{{cliente.id}}"><i
                            class="fas fa-edit"></i></button>&nbsp;
                    <button (click)="onDelete(cliente)" class="btn btn-success" data-toggle="modal"
                        data-target="#modalDelete"><i class="fas fa-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>

    <div id="modalDelete" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirmação</h4>
                </div>
                <div class="modal-body" *ngIf="clienteSelecionado">
                    Confirma a Exclusão do(a) Cliente: {{clienteSelecionado.nome}} ?
                </div>
                <div class="modal-footer">
                    <button class="btn bg-color-padrao text-white" (click)="confirmaDelete()" data-dismiss="modal">Confirma</button>
                    <button class="btn btn-default" data-dismiss="modal">Cancela</button>
                </div>
            </div>
        </div>
    </div>
</div>